* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    margin: 30px;
    padding: 20px;
}

header {
    width: 100%;
    height: 50px;
}

header>h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

main {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    height: 70px;
}

.btn-wrapper {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 60px;
}

.helping-text {
    height: 16px;
    width: 60px;
    font-family: Ubuntu Mono;
    font-size: 16px;
    font-weight: 400;
}

button {
    cursor: pointer;
    border: none;
}

.btn,
.btn1 {
    height: 36px;
    width: 81px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    background: #E0E0E0;
}

.btn1 {
    background: #AEAEAE;
    transition: all 500ms ease;
}

.btn-outline,
.btn2-outline {
    width: 88px;
    height: 36px;
    border: 1px solid #3D5AFE;
    border-radius: 6px;
    color: #3D5AFE;
    background-color: #fff;
}

.btn2-outline {
    background: #E0E0E0;
    transition: all 500ms ease;
}

.btn-text,
.btn2-text {
    width: 49px;
    height: 36px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #3D5AFE;
}

.btn-text {
    background-color: transparent;
}

.btn2-text {
    width: 88px;
    height: 36px;
    background: rgba(41, 98, 255, 0.1);
    border-radius: 6px;
}

.btn-disabled-shadow {
    width: 81px;
    height: 36px;
    background: #3D5AFE;
    border-radius: 6px;
    color: #fff;
}

.btn-disabled {
    width: 81px;
    height: 36px;
    background: #E0E0E0;
    border-radius: 6px;
    color: #9E9E9E;
    cursor: not-allowed;
}

.btn-text-disabled {
    border: none;
    color: #9E9E9E;
    cursor: not-allowed;
    width: 81px;
    height: 36px;
    background-color: transparent;
}

.btn-local_grocery_store {
    width: 105px;
    height: 36px;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    padding: 6px 11px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-local_grocery_store>span {
    height: 16px;
    width: 16px;
    font-size: 16px;
}

.btn-sm,
.btn-md,
.btn-lg {
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    border-radius: 6px;
    color: #fff;
}

.btn-sm {
    width: 73px;
    height: 32px;
    font-size: 14px;
}

.btn-md {
    width: 81px;
    height: 36px;
}

.btn-lg {
    width: 93px;
    height: 42px;
}

.btn-default {
    width: 81px;
    height: 36px;
    background: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
    border-radius: 6px;
}

.btn-default-hover {
    background: #AEAEAE;
}

.btn-primary {
    width: 81px;
    height: 36px;
    background: #2962FF;
    box-shadow: 0px 2px 3px rgba(41, 98, 255, 0.2);
    border-radius: 6px;
    color: #fff;
}

.btn-primary-hover {
    background: #0039CB;
}

.btn-secondary {
    width: 104px;
    height: 36px;
    background: #455A64;
    box-shadow: 0px 2px 3px rgba(69, 90, 100, 0.2);
    border-radius: 6px;
    color: #fff;
}

.btn-secondary-hover {
    background: #1C313A;
}

.btn-danger {
    width: 81px;
    height: 36px;
    background: #D32F2F;
    box-shadow: 0px 2px 3px rgba(211, 47, 47, 0.2);
    border-radius: 6px;
    color: #fff;
}

.btn-danger-hover {
    background: #9A0007;
}